<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite rule to redirect requests to index.php
    RewriteRule ^([^/]+)/([^/]+)$ ../views/view_product.php/?id?productID [L,QSA]
</IfModule>
